.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    border: 1px solid #222222;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-bottom: 20px;
}
.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 1280px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.intro > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.intro > :global(.__wab_flex-container) > *,
.intro > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.intro > :global(.__wab_flex-container) > picture > img,
.intro > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .intro {
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 30px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .intro > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__mnm1Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mainTextContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 918px;
  text-align: left;
  line-height: 60px;
  margin-bottom: 32px;
  align-self: flex-start;
  position: relative;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 54px;
  }
}
.text__j0Yt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j0Yt {
    font-size: 24px;
  }
}
.text__gGTmJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  margin-top: 31px;
  padding: 16px 23px;
  border: 2px solid #696969;
}
.root .link:hover {
  border-style: dashed;
}
.text__ymc8T {
  position: relative;
  color: #4f4f4f;
  font-size: 20px;
  width: auto;
}
.svg__pBsUv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  margin-left: 36px;
  color: #1d1d21;
}
.services {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 150px 0px;
}
.services > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.services > :global(.__wab_flex-container) > *,
.services > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.services > :global(.__wab_flex-container) > picture > img,
.services
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .services {
    width: 100%;
    min-width: 0;
    padding: 50px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .services > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__tm8An {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___0VXvR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-6Cu_pvjPW_oq);
  min-width: 0;
}
.h2__ezt6Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__ezt6Z {
    font-size: 40px;
  }
}
.columns__sQmKv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__sQmKv > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 18px);
  width: calc(100% + 18px);
  --plsmc-rc-col-gap: 18px;
}
.columns__sQmKv > :global(.__wab_flex-container) > *,
.columns__sQmKv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__sQmKv > :global(.__wab_flex-container) > picture > img,
.columns__sQmKv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 18px;
}
.columns__sQmKv > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__sQmKv > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__sQmKv > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sQmKv {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sQmKv > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sQmKv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__doUEq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.img__mlN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 90px;
  margin-bottom: 40px;
  flex-shrink: 0;
}
.img__mlN > picture > img {
  object-fit: cover;
}
.h3__ygnm4 {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__ygnm4 {
    padding-bottom: 32px;
    color: #4f4f4f;
    font-size: 28px;
  }
}
.text___6NsHp {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6NsHp {
    padding-bottom: 32px;
  }
}
.column__eP11 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.img__kQsDr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 90px;
  margin-bottom: 40px;
  flex-shrink: 0;
}
.img__kQsDr > picture > img {
  object-fit: cover;
}
.h3___92Frd {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3___92Frd {
    padding-bottom: 32px;
    color: #4f4f4f;
    font-size: 28px;
  }
}
.text__r5DIy {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__r5DIy {
    padding-bottom: 32px;
  }
}
.column__tfVrf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.img__khfJw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 90px;
  margin-bottom: 40px;
  flex-shrink: 0;
}
.img__khfJw > picture > img {
  object-fit: cover;
}
.h3___0UQzl {
  font-weight: 600;
  font-size: 32px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3___0UQzl {
    padding-bottom: 32px;
    color: #4f4f4f;
    font-size: 28px;
  }
}
.text__ykIzz {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.work {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 150px 0px 0px;
}
.work > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.work > :global(.__wab_flex-container) > *,
.work > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.work > :global(.__wab_flex-container) > picture > img,
.work > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .work {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 50px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .work > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___0FsvU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__yt4Oz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-6Cu_pvjPW_oq);
  min-width: 0;
}
.h2__xjxK8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__xjxK8 {
    font-size: 40px;
  }
}
.freeBox___6Ryyj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 50px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Ryyj {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.columns__aKfTc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__aKfTc > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__aKfTc > :global(.__wab_flex-container) > *,
.columns__aKfTc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__aKfTc > :global(.__wab_flex-container) > picture > img,
.columns__aKfTc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__aKfTc > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__aKfTc > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aKfTc {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aKfTc > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aKfTc > :global(.__wab_flex-container) > *,
  .columns__aKfTc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__aKfTc > :global(.__wab_flex-container) > picture > img,
  .columns__aKfTc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aKfTc > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___3M07J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.reveal__jBd9I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.projectCard__xjLuE:global(.__wab_instance) {
  position: relative;
}
.column__bQ7Ox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.reveal__gDrv5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.projectCard___7MA:global(.__wab_instance) {
  position: relative;
  margin-top: 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectCard___7MA:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.columns__bFUf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__bFUf > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__bFUf > :global(.__wab_flex-container) > *,
.columns__bFUf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__bFUf > :global(.__wab_flex-container) > picture > img,
.columns__bFUf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__bFUf > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__bFUf > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bFUf {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 48px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bFUf > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bFUf > :global(.__wab_flex-container) > *,
  .columns__bFUf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__bFUf > :global(.__wab_flex-container) > picture > img,
  .columns__bFUf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bFUf > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8Qvwa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.reveal__ntHz9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.projectCard__d6KVu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__uIlz4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.reveal__mGzo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.projectCard___08Nfv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectCard___08Nfv:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.about {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 150px 0px 70px;
}
.about > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.about > :global(.__wab_flex-container) > *,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.about > :global(.__wab_flex-container) > picture > img,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .about {
    width: 100%;
    min-width: 0;
    padding: 50px 0px 90px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .about > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__a066D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__sk3Xc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-6Cu_pvjPW_oq);
  min-width: 0;
}
.freeBox__sRPrp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sRPrp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__sRPrp > :global(.__wab_flex-container) > *,
.freeBox__sRPrp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sRPrp > :global(.__wab_flex-container) > picture > img,
.freeBox__sRPrp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sRPrp > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.h2___3Bl7O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___3Bl7O {
    font-size: 40px;
  }
}
.text__hP2WO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  min-width: 0;
}
.freeBox__cTiY5 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  grid-column-gap: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cTiY5 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__dEe7 {
  display: flex;
  position: relative;
}
.freeBox__yL1Uv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yL1Uv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__yL1Uv > :global(.__wab_flex-container) > *,
.freeBox__yL1Uv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yL1Uv > :global(.__wab_flex-container) > picture > img,
.freeBox__yL1Uv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yL1Uv {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yL1Uv > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.img__grT2C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 25px;
  width: 100%;
  height: 312px;
  min-width: 0;
  flex-shrink: 0;
}
.img__grT2C > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__grT2C {
    width: 100%;
    max-width: 100%;
    height: 311px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.img__vryHm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 312px;
  margin-bottom: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.img__vryHm > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vryHm {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.freeBox__gf3Dt {
  display: flex;
  position: relative;
}
.img___29EU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___29EU > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___29EU {
    max-width: 100%;
    margin-bottom: 30px;
    width: 100%;
  }
}
.freeBox__jWx9V {
  display: flex;
  position: relative;
}
.img__d2NmU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__d2NmU > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__d2NmU {
    max-width: 100%;
    width: 100%;
    margin-top: 30px;
  }
}
.testimonials {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-bottom: 150px;
  padding-top: 150px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.testimonials > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.testimonials > :global(.__wab_flex-container) > *,
.testimonials > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.testimonials > :global(.__wab_flex-container) > picture > img,
.testimonials
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonials {
    width: 100%;
    min-width: 0;
    padding: 50px 0px 100px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonials > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__cRg9N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cRg9N {
    padding-left: 0px;
  }
}
.text__k0Knt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-6Cu_pvjPW_oq);
  min-width: 0;
}
.h2__eCyah {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox___2Wb7Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 50px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Wb7Z {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__ys12 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ys12 {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    padding: 0px;
  }
}
.freeBox__aXyxW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__aXyxW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__aXyxW > :global(.__wab_flex-container) > *,
.freeBox__aXyxW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aXyxW > :global(.__wab_flex-container) > picture > img,
.freeBox__aXyxW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aXyxW > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__twNqw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 50px;
  border: 1px solid #22222280;
}
.freeBox__twNqw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__twNqw > :global(.__wab_flex-container) > *,
.freeBox__twNqw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__twNqw > :global(.__wab_flex-container) > picture > img,
.freeBox__twNqw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__twNqw {
    margin-bottom: 40px;
    padding: 20px;
  }
}
.freeBox__clNxR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__xbtY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__bHkbW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__ob8Xc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__yuQhn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg___2LPdT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.h3__eUB {
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 16px;
}
.text___0HOc0 {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 32px;
}
.columns__eDnEc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__eDnEc > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__eDnEc > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eDnEc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eDnEc > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__d1F1J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__bhGnF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__bhGnF > picture > img {
  object-fit: cover;
}
.column__ntJOc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__dAwVs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
.text__adxrM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__ynZsl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 50px;
  border: 1px solid #22222280;
}
.freeBox__ynZsl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ynZsl > :global(.__wab_flex-container) > *,
.freeBox__ynZsl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ynZsl > :global(.__wab_flex-container) > picture > img,
.freeBox__ynZsl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ynZsl {
    padding: 20px;
  }
}
.freeBox__rXnh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__xjN2A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__lgmNp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__ukWnL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__hdePd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg___9EJpd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.h3__aOfIf {
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 16px;
  padding-top: 0px;
}
.text__l0TTw {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 32px;
}
.columns__yhih4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__yhih4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yhih4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yhih4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yhih4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rGGhH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__xbBjr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__xbBjr > picture > img {
  object-fit: cover;
}
.column__vU7B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__mtQy3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
.text__vD5Q0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__cEo5G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 40px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cEo5G {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox___69Rgs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___69Rgs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___69Rgs > :global(.__wab_flex-container) > *,
.freeBox___69Rgs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___69Rgs > :global(.__wab_flex-container) > picture > img,
.freeBox___69Rgs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___69Rgs > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__lYNib {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 50px;
  border: 1px solid #22222280;
}
.freeBox__lYNib > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lYNib > :global(.__wab_flex-container) > *,
.freeBox__lYNib > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lYNib > :global(.__wab_flex-container) > picture > img,
.freeBox__lYNib
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lYNib {
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 40px;
    width: 100%;
    min-width: 0;
    padding: 20px;
    border: 1px solid #22222280;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lYNib > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lYNib > :global(.__wab_flex-container) > *,
  .freeBox__lYNib > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lYNib > :global(.__wab_flex-container) > picture > img,
  .freeBox__lYNib
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.freeBox__lyt6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lyt6 {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.svg__cNmYi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__kbAk4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__lKaDf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__uGnDc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__vwyTe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.h3__lkWw7 {
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 16px;
  padding-top: 32px;
}
.text__ettSh {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 32px;
  padding-top: 0px;
}
.columns___4Nrp5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___4Nrp5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___4Nrp5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4Nrp5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4Nrp5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wnmT9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__fHbx8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__fHbx8 > picture > img {
  object-fit: cover;
}
.column__fkuwz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__tBeEr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
.text__qCnM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___8HBIf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 50px;
  border: 1px solid #22222280;
}
.freeBox___8HBIf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___8HBIf > :global(.__wab_flex-container) > *,
.freeBox___8HBIf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8HBIf > :global(.__wab_flex-container) > picture > img,
.freeBox___8HBIf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8HBIf {
    padding: 20px;
  }
}
.freeBox__cCkwy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__afS63 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg___8Kesk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__x0Rqs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__bEvVg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.svg__jeFz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffcd75;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.h3__kVqu {
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #4f4f4fd9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 16px;
  padding-top: 32px;
}
.text__wKckQ {
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 32px;
  padding-top: 0px;
}
.columns__bdntH {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__bdntH > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__bdntH > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bdntH {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bdntH > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___4FzSs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__jlWkK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__jlWkK > picture > img {
  object-fit: cover;
}
.column__rVyt5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__er2Xa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
.text__rGocE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.contactSection:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
