.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
.link__hHpaa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-2W8kyLzsKzuQ);
  font-size: 24px;
  font-weight: 700;
  padding-right: 0px;
  margin-right: 0px;
}
.root .link__hHpaa:hover {
  color: var(--token-6Cu_pvjPW_oq);
}
.img__k6M2 {
  object-fit: cover;
}
.img__k6M2 > picture > img {
  object-fit: cover;
}
.img__kQUe0 {
  object-fit: cover;
}
.img__kQUe0 > picture > img {
  object-fit: cover;
}
.link__hdhPl {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__hdhPl:hover {
  color: var(--token-6Cu_pvjPW_oq);
}
.link__a5DnV {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__a5DnV:hover {
  color: var(--token-6Cu_pvjPW_oq);
}
.link___8Rv5N {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___8Rv5N:hover {
  color: var(--token-6Cu_pvjPW_oq);
}
.link__iaQWg {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__iaQWg:hover {
  color: var(--token-6Cu_pvjPW_oq);
}
